@charset "utf-8";


// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

.App {
  text-align: center;
}

.photo {
  margin: 20px;
}
// 4. Import the rest of Bulma
@import "../node_modules/bulma/bulma";


